nanobind_test.egg-info
_skbuild
/dist
__pycache__
build
*.pyd
*.egg-info
*.obj

/lib/googletest
/lib/nanobind

/.ipynb_checkpoints
/.pytest_cache
/src/nanobind

/.benchmarks

/tests/animal.cpp
/test/__pycache__

/CMakeFiles